<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src=" https://code.jquery.com/jquery-3.3.1.js "></script>
    <script src=" https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js "></script>
    <script src=" https://cdn.datatables.net/fixedheader/3.1.5/js/dataTables.fixedHeader.min.js "></script>
    <link rel="stylesheet" href=" https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css ">
    <link rel="stylesheet" href=" https://cdn.datatables.net/fixedheader/3.1.5/css/fixedHeader.dataTables.min.css ">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</head>
<style>
    thead input {
        width: 100%;
    }
</style>

<body>
    <div class="container">
        <table id="example" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Subject</th>
                    <th>Description</th>
                    <th>Email</th>
                    <th>Contact</th>
                    <th>SMS no.</th>
                    <th>status</th>
                    <th>Recurrence frequency</th>
                    <th>Option</th>
                </tr>
            </thead>
            <tbody>
                @each(post in posts)
                <tr>
                    <td> {{post.name}} </td>
                    <td> {{post.subject}} </td>
                    <td> {{post.description}} </td>
                    <td> {{post.email}} </td>
                    <td> {{post.contact}} </td>
                    <td> {{post.sms}} </td>
                    <td> {{post.status}} </td>
                    <td> {{post.rec}} </td>
                    <td><a href="/disablereminder/{{post._id}}"><button class="btn btn-danger">Disable</button></a>
                    </td>
                </tr>
                @endeach
            </tbody>
        </table>
        <br><br>
        <a href="/"><button class="btn btn-primary">Back</button></a>
        <a href="/auth/logout"><button class="btn btn-danger">Logout</button></a>
    </div>
    <script>
        $(document).ready(function () {
            // Setup - add a text input to each footer cell
            $('#example thead tr').clone(true).appendTo('#example thead');
            $('#example thead tr:eq(1) th').each(function (i) {
                var title = $(this).text();
                $(this).html('<input type="text" placeholder="Search ' + title + '" />');

                $('input', this).on('keyup change', function () {
                    if (table.column(i).search() !== this.value) {
                        table
                            .column(i)
                            .search(this.value)
                            .draw();
                    }
                });
            });

            var table = $('#example').DataTable({
                orderCellsTop: true,
                fixedHeader: true
            });
        });
    </script>
</body>

</html>